<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style/style.css">
    <title>Predictor</title>
</head>
<header>
    <div class="headerLeft">
        <p>Let us <b>Predict</b></p>
    </div>
    <div class="headerRight">
        <p>About</p>
        <p>Contact</p>
    </div>

</header>

<body>
    <div class="wrapper">
        <div class="title">
            Loan Status Predictor
        </div>
        <form action="/" method="POST">
            <div class="form">
                <div class="inputfield">
                    <label>Gender</label>
                    <select name="gender" id="gender">
                        <option value="" select hidden>Select</option>
                        <option value="1">Male</option>
                        <option value="0">Female</option>
                    </select>
                </div>
                <div class="inputfield">
                    <label>Married</label>
                    <select name="married" id="married">
                        <option value="" select hidden>Select</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="inputfield">
                    <label>Dependents</label>
                    <select name="dependents" id="dependents">
                        <option value="" select hidden>Select</option>
                        <option value="0">None</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="4">Four</option>
                    </select>
                </div>
                <div class="inputfield">
                    <label>Education</label>
                    <select name="education" id="education">
                        <option value="" select hidden>Select</option>
                        <option value="1">Graduate</option>
                        <option value="0">Not Graduate</option>
                    </select>
                </div>
                <div class="inputfield">
                    <label>Self Employed</label>
                    <select name="selfEmployed" id="selfEmployed">
                        <option value="" select hidden>Select</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="inputfield">
                    <label>Applicant Income</label>
                    <input type="text" class="input" name="applicantIncome" required>
                </div>
                <div class="inputfield">
                    <label>Coapplicant Income</label>
                    <input type="text" class="input" name="coapplicantIncome" required>
                </div>
                <div class="inputfield">
                    <label>Loan Amount</label>
                    <input type="text" class="input" name="loanAmount" required>
                </div>
                <div class="inputfield">
                    <label>Loan Amount Term</label>
                    <input type="text" class="input" name="loanAmountTerm" required>
                </div>
                <div class="check">
                    <div>
                        <label for="creditHistory">Credit History</label>
                        <input type="checkbox" name="creditHistory">
                    </div>
                </div>
                <div class="inputfield">
                    <input type="submit" value="Predict the State" class="btn">
                </div>
            </div>
        </form>
    </div>
</body>
<footer>
    <p>Copyright &copy; 2024, All Rights Reserved</p>
</footer>

</html>